<% include ../includes/header%>
<% include ../includes/nav%>
  <!-- /#page-wrapper -->
	<div class="content-wrapper">
	    <div class="container-fluid">
	      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
  				<li class="breadcrumb-item">
  					<a href="/unidades">Unidades</a>
  				</li>
  				<li class="breadcrumb-item active">Cadastrar unidade</li>
  			</ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-home"></i> Cadastrar Unidade
  				</div>
          <div class="card-body">
            <!-- Formulario -->
						<% if(validacao.length > 0) { %>
							<div class="row">
								<div class="col-md-12">
									<div class="alert alert-danger">
										<strong>Atenção!</strong>
										<ul>
											<% for(var i = 0; i < validacao.length; i++) { %>
											<li><%= validacao[i].msg %></li>
											<% } %>
										</ul>
									</div>
								</div>
							</div>
						<% } %>

						<% if(unidade.length > 0) {
							var id_unidade = unidade[0].id_unidade
						  var descunidade = unidade[0].unidade
							var proprietario = unidade[0].proprietario
							var email = unidade[0].email
							var telefone = unidade[0].telefone
						%>
							<form action="/unidades/atualizarUnidade?id_unidade=<%= id_unidade %>" method="post">
								<input type="hidden" name="id_unidade" value="<%= id_unidade %>">
						<% } else {
							var descunidade = null
							var proprietario = null
							var email = null
							var telefone = null
						%>
							<form action="/unidades/salvarUnidade" method="post">
						<% } %>
                <div class="form-row">
                  <div class="form-group col-md-1">
                    <label for="inputUnidade">Unidade: </label>
                    <input type="text" class="form-control" name="unidade" placeholder="Unidade" value="<%= descunidade %>">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputUsuario">Usuário: </label>
                    <select id="usuario" name="usuario" class="form-control">
                      <option value="" selected>Nome do usuário...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
										<!--<% if(unidade.length > 0 ) { value = unidade[0].proprietario} else { value = null }%>-->
                    <label for="inputPropietario">Proprietário: </label>
                    <input type="text" class="form-control" id="proprietario" name="proprietario" placeholder="Nome do proprietario" value="<%= proprietario %>">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputEmail">Email: </label>
										<% if(unidade.length > 0 ) { value = unidade[0].email} else { value = null }%>
                    <input type="text" class="form-control" id="email" name="email" placeholder="e-mail" value="<%= email %>">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputEmail">Telefone: </label>
                    <input type="text" class="form-control" id="telefone" name="telefone" placeholder="telefone" value="<%= telefone %>">
                  </div>
                </div>
									<input type="submit" class="btn btn-primary" value="Salvar" >
									<!--<a class="btn btn-primary" data-toggle="modal" data-target="#confirmaModal">Salvar</a>-->
                	<a class="btn btn-secondary" role="button" href="/unidades">Cancelar</a>
              </form>
            </div>

          </div>
  				<div class="card-footer small text-muted">Atualizado às <%= new Date().toISOString() %></div>
  			</div>
  		</div>
  		<!-- /.container-fluid-->
  	</div>
  	<!-- /.content-wrapper-->

		<!-- Confirma Modal-->
		<div class="modal fade" id="confirmaModal" tabindex="-1" role="dialog" aria-labelledby="confirmaModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="confirmaModalLabel">Os dados estão corretos?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Por favor, clique em OK para salvar os dados ou "Cancelar" para voltar ao formulário.</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" value="OK" >
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

<% include ../includes/footer%>
